html, body, main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: wheat;
    background-color: #7a0000;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

.button {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #7a0000;
    height: 8%;
    width: 100%;
    padding: 0;
}

#header-container {
    height: 100%;
    width: 95%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    /* border: white 1px solid; */
}

#logo-image {
    align-self: center;
    height: 70px;
    width: 70px;
    background-color: blue;
    background-image: url('images/logo.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#title {
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* border: white 1px solid; */
}

#title:hover {
    cursor: default;
}

#title-text-1 {
    padding: 0;
    margin: 0;
    align-self: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
}

#title-text-2 {
    display: none;
}

#nav {
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    /* border: white 1px solid; */
}

#nav-button {
    align-self: center;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    color: rgb(77, 77, 77);
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-button:hover {
    background-color: rgb(77, 77, 77);
    color: white;
}

#map-container {
    background-color: rgb(11, 138, 11);
    height: 92%;
    width: 100%;
    text-align: center;
    align-content: center;
    color: white;
}

#map {
    height: 100%;
    width: 100%;
    background-image: url('images/whole-map.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 360px){
    #logo-image {
        height: 60px;
        width: 60px;
    }
    #title-text-1 {
        display: none;
    }
    #title-text-2 {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-self: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 700;
    }
    #nav-button {
        height: 50px;
        width: 50px;
    }
    .material-icons-outlined {
        font-size: 2rem;
    }
    #header {
        height: 7%;
    }
}
