* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.material-icons-outlined {
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

.button {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
    font-family: 'Science Gothic', Arial, sans-serif;
    background-color: transparent;
    background-image: url('images/whole-map.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: rgb(255, 0, 234) 1px dashed; */
    background-color: #7a000040;

}

#login-container {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 70%;
    background-color: white;
    color: black;
    border-radius: 12px;
    box-shadow: 0 6px 25px rgb(0, 0, 0);
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* font-family: sans-serif; */
}

#login-logo {
    margin-top: 7%;
    background-color: blue;
    /* border: #000000 1px solid; */
    box-shadow: 0 px 5px rgb(0, 0, 0);
    border-radius: 50%;
    height: 25%;
    aspect-ratio: 1;
    background-image: url(images/logo-260p.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#login-title {
    margin: 5% 0 5% 0;
    text-shadow: 0 6px 25px rgb(0, 0, 0);
    font-size: .8em;
    font-weight:750;
    color: #333;
    text-align: center;
    /* border: red 1px dashed; */
}

#login-form {
    margin: 0;
    padding: 0;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: gray 2px solid;
    /* border: #000 1px dashed; */
}

#login-form input {
    height: 20%;
    width: 95%;
    margin-bottom: 7%;
    border: 2px gray solid;
    border-radius: 8px;
}

#login-form input {
    padding-left: 10px;
}

.form-buttons-container {
    height: 15%;
    width: 100%;
    /* border: 1px black dashed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-buttons-container button {
    border-radius: 10px;
}

#submit-button {
    height: 100%;
    width: 73%;
    background-color: #7a0000;
    color: white;
}

#submit-button:hover {
    background-color: #7a000070;
    color: black;
}

#toggle-button {
    height: 100%;
    width: 23%;
    background-color: #7a0000;
    color: white;
}

#login-form a {
    align-self: center;
    font-size: .8em;
}

.other-users {
    margin-top: 10px;
    font-size: 1em;
}